<div class="col-md-6" style="margin-left:0%">
  <div class="box box-info">
    <div class="box-header with-border">
      <h3 class="box-title">Cadastro de Passageiros</h3>
    </div>
    <form class="form-horizontal" #form="ngForm" (ngSubmit)="register()" novalidate>
      <div [ngClass]="classCss" role="alert" *ngIf="message">
        <strong>{{ message.text }}</strong>
      </div>
      <div class="box-body">
        <div [ngClass]="getFormGroupClass(title.invalid,title.dirty)">
          <label for="inputTitle" class="col-sm-2 control-label">Nome</label>
          <div class="col-sm-10">
            <input type="text" 
                    [(ngModel)]="passengers.name"
                    name="title" 
                    class="form-control" 
                    id="inputTitle" 
                    placeholder="Title"
                    #title="ngModel" 
                    required>
            <span class="help-block" *ngIf="title.invalid && title.dirty">Title is required</span>
          </div>
        </div>
        <div [ngClass]="getFormGroupClass(document.invalid,document.dirty)">
          <label for="inputDocument" class="col-sm-2 control-label">Documento</label>
          <div class="col-sm-10">
            <input type="text" 
                    [(ngModel)]="passengers.document"
                    name="document" 
                    class="form-control" 
                    id="inputDocument" 
                    placeholder="documento"
                    #title="ngModel" 
                    required>
            <span class="help-block" *ngIf="document.invalid && document.dirty">Documento é obrigatório</span>
          </div>
        </div>
        <div [ngClass]="getFormGroupClass(birthDate.invalid,birthDate.dirty)">
          <label for="inputBirthDate" class="col-sm-4 control-label">Data Nascimento</label>
          <div class="col-sm-8">
            <input type="date" 
                    [(ngModel)]="passengers.birthDate"
                    name="birthDate" 
                    class="form-control" 
                    id="inputBirthDate" 
                    #title="ngModel"
                    required>
            <span class="help-block" *ngIf="title.invalid && title.dirty">Informe a Data de nascimento</span>
          </div>
        </div>
        <div [ngClass]="getFormGroupClass(cpfCnpj.invalid,cpfCnpj.dirty)">
          <label for="inputCpfCnpj" class="col-sm-2 control-label">CPF/CNPJ</label>
          <div class="col-sm-8">
            <input type="text" 
                    [(ngModel)]="passengers.cpfCnpj"
                    name="cpfCnpj" 
                    class="form-control" 
                    id="inputCpfCnpj" 
                    #title="ngModel"
                    required>
            <span class="help-block" *ngIf="cpfCnpj.invalid && cpfCnpj.dirty">Informe a Data de nascimento</span>
          </div>
        </div>        
      </div>
      <div class="box-footer">
        <button type="submit" [disabled]="!form.valid" class="btn btn-info pull-right">Submit</button>
      </div>
    </form>
  </div>
</div>