<div class="col-md-10" style="margin-left:0%">
    <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title">Detail Travel</h3>
      </div>
      <form class="form-horizontal" #form="ngForm" (ngSubmit)="register()" novalidate>
        <div [ngClass]="classCss" role="alert" *ngIf="message">
          <strong>{{ message.text }}</strong>
        </div>
        <div class="box-body">
          <ul class="list-group list-group-unbordered">
            <li class="list-group-item">
                  <b>Number :</b> <span>{{travel.number}}</span> 
                  <span class="pull-right"><b>Title :</b> <span>{{travel.title}}</span></span>
            </li>
            
          </ul>     
        </div>
      </form>
    </div>
  </div>